@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: #F0F0F5;
  --background-end-rgb: #F0F0F5;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end-rgb)
    )
    var(--background-start-rgb);
}


img{
  height: unset;
 max-width: unset;
}

.productCard:hover img.zoom{
  scale: 1.1;
}

.product-grid{
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
}


@media screen and (max-width: 1080px){
  .product-grid{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 860px){
  .product-grid{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 560px){
  .product-grid{
    grid-template-columns: repeat(1, 1fr);
  }
}
